[neopixel chamber]
pin: PB6
chain_count:42
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.


[gcode_macro chamber_LED_ON]
gcode:
  SET_LED LED=chamber RED=1 GREEN=1 BLUE=1


[gcode_macro chamber_LED_OFF]
gcode:
  SET_LED LED=chamber RED=0 GREEN=0 BLUE=0
